# Environment files
.env
config.env
venv


# Spark checkpoints
checkpoints/

# Temporary files / cache
*.log
*.pyc
__pycache__/
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Jupyter Notebook metadata
*.ipynb_checkpoints

# Mac OS
.DS_Store

# Python package files
.venv/
.env/
*.egg-info/


